

main{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
 
}

main a{
    grid-column: span 1;
}


.evento-data{
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    color: var(--color-pink);
    grid-column: span 3;
    text-align: center;

}

.evento-data span{
    font-weight: bold;
}


@media screen and (max-width: 769px) {

    main a{
        grid-column: span 3;
    }
    
    
}